*{
	box-sizing: border-box;
}
body{
	margin:0;
	background:beige;
}
img{
	display: flex;
	width: 100%;
	height: 100%;
}
.contenedor_imagen{
	width: 30%;
}
h2{
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.galeria{
	padding: 5% 5% 0% 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.box .highlight{
	cursor:pointer;
}

.galeria_item{
	width: 80%;
	height: 80%;
	cursor:pointer;
}
.galeria_img{
	width: 100%;
	height: 150px;
	margin: 5%;
	cursor:pointer;
}
@media screen and (max-width: 1920px) {
	.galeria_img{
	    height: 200px;
    }
}
@media screen and (max-width: 1024px) {
    .contenedor_imagen{
    	width: 50%;
    }
    .galeria{
    	padding: 5% 5% 0% 5%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    }
    .box .highlight{
    	cursor:pointer;
    }
    
    .galeria_item{
    	width: 90%;
    	height: 90%;
    	cursor:pointer;
    }
    .galeria_img{
    	width: 100%;
    	height: 150px;
    	margin: 5% 0%;
    	cursor:pointer;
    }
    .modal_boton_d{
        display: none;
    }
    .modal_boton_i{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .contenedor_imagen{
    	width: 80%;
    }
    .galeria{
    	padding: 5% 5% 0% 5%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    }
    .box .highlight{
    	cursor:pointer;
    }
    
    .galeria_item{
    	width: 90%;
    	height: 90%;
    	cursor:pointer;
    	margin-left: 5%;
    }
    .galeria_img{
    	width: 100%;
    	height: 180px;
    	margin: 5% 0%;
    	cursor:pointer;
    }
}
@media screen and (max-width: 450px) {
    .contenedor_imagen{
    	width: 80%;
    }
    .galeria{
    	padding: 5% 5% 0% 5%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    }
    .box .highlight{
    	cursor:pointer;
    }
    
    .galeria_item{
    	width: 80%;
    	height: 80%;
    	cursor:pointer;
    }
    .galeria_img{
    	width: 100%;
    	height: 110px;
    	margin: 5%;
    	cursor:pointer;
    }
}
.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0; 
	left:0;
	background: #212529;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal_img{
	width: 90%;
	height: 90%;
}
.modal_boton{
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 25px;
	font-family: monospace;
	line-height: 50px;
	text-align: center;
	/*background: #1d4377;*/
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top: 75px;
	cursor: pointer;
}
.modal_boton:hover{
    color: #c0c0c0;
}
.modal_boton_d{
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 80px;
	font-family: monospace;
	line-height: 50px;
	text-align: center;
	/*background: #1d4377;*/
	border-radius: 50%;
	position: absolute;
	right: 95.9%;
	top: 50%;
	cursor: pointer;
}
.modal_boton_i{
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 80px;
	font-family: monospace;
	line-height: 50px;
	text-align: center;
	/*background: #1d4377;*/
	border-radius: 50%;
	position: absolute;
	right: .5%;
	top: 50%;
	cursor: pointer;
}
@media screen and (max-width: 900px) {
    .modal_boton{
        top: 90px;
    }
    .modal_boton_d{
        width: 50%;
        height: 80%;
        right: 49.9%;
        top: 10.5%;
        font-size: 0px;
    }
    .modal_boton_i{
        width: 50%;
        height: 80%;
        right: 0%;
        top: 10.5%;
        font-size: 0px;
    }
    .modal_img{
        width: 80%;
        height: 35%;
    }
    
}
@media screen and (max-width: 450px) {
}
.descripcion{
	width: 70%;
	height: 50%;
	background-color: rgba(29, 67, 119, 1);
	border-radius: 3%;
}
.descripcion-imagen{
	width: 30%;
	height: auto;
	float: left;
	border-radius: 50%;
	margin-right:5%;
}
#imagen-modal-descripcion{
	margin-left: 10%;
	margin-top: 25%;
	margin-right: 10%;
}
.descripcion-texto{
	width: 60%;
	height: auto;
	float: left;
	margin-top: 5%;
	margin-right: 5%;
}
#descripcion-texto-p{
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	text-align: justify;
}